<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="issuesAddress" value="http://code.google.com/p/code-annotation-engine/issues/list"/>
    <add key="license" value="http://www.gnu.org/licenses/gpl.html"/>
    <add key="wikiAddress" value="http://code.google.com/p/code-annotation-engine/w/list"/>
  </appSettings>
</configuration>