USE [CAE]
GO
/****** Object:  StoredProcedure [dbo].[add_mod_rev]    Script Date: 02/17/2010 00:13:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID('add_mod_rev') IS NOT NULL
BEGIN
    DROP PROCEDURE dbo.add_mod_rev
    PRINT '<<< DROPPED PROCEDURE add_mod_rev>>>'
END
go
-- =============================================
-- Author:		<Joel Manon>
-- Create date: <Feb. 15, 2010>
-- Description:	<Adds a new revision to an existing module>
-- Input parameters:
--		project_nm
--		module_nm
--		revision_no
--		chg_desc
--		devlpr_last_nm
--		devlpr_first_nm
-- =============================================
CREATE PROCEDURE [dbo].[add_mod_rev]
	 @project_nm varchar(20) 
	,@module_nm varchar(50)
	,@revision_no numeric(6,3)
	,@chg_desc varchar(256)
	,@devlpr_last_nm varchar(20)
	,@devlpr_first_nm varchar(20)
AS
BEGIN
	DECLARE
		@module_exists char(1)
	SET NOCOUNT ON;
	IF
		(
		SELECT COUNT(*)
		FROM dbo.Module
		WHERE project_nm = @project_nm
				AND
			module_nm = @module_nm
		)
		> 0
		SET @module_exists = 'Y'
	ELSE
		SET @module_exists = 'N'

	IF 
		@module_exists = 'Y'
		BEGIN
			INSERT INTO
				dbo.Module_revision
				(
				 project_nm
				,module_nm
				,revision_no 
				,chg_desc
				,devlpr_last_nm
				,devlpr_first_nm
				,last_update_dtm
				)
			VALUES
				(
				 @project_nm
				,@module_nm
				,@revision_no 
				,@chg_desc 
				,@devlpr_last_nm 
				,@devlpr_first_nm 
				,getdate()
				)
		END
	ELSE
		RAISERROR (N'Module Not Found',18,18)
END
